/* TODO Add site wide styles */
:root {
    --yellow-color: #FFD977;
    --dark-yellow-color: #B5460F;
}

body {
    font-family: "Fira Sans"
}

button:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.full_body {
    /* position: relative; */
    margin-top: 76px;
}

.single_recipe {
    display: flex;
    flex-direction: column;
    height: 700px;
}
