/* TODO Add site wide styles */
:root {
    --yellow-color: #FFD977;
    --dark-yellow-color: #B5460F;
}

body {
    font-family: "Fira Sans"
}

button:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.full_body {
    /* position: relative; */
    margin-top: 76px;
}

.single_recipe {
    display: flex;
    flex-direction: column;
    height: 700px;
}

.button_style1{
    /* border: 1px solid var(--dark-yellow-color); */
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--yellow-color);
    /* box-shadow: 0px 8px 10px var(--dark-yellow-color); */
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.button_style1:hover {
    border-bottom: 1px solid var(--dark-yellow-color);
}


.button_style1:active {
    border: none;
}

.image_div_background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}
