.login_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--dark-yellow-color);
    background-color: white;
    z-index: 4;
    width: 500px;
    height: 200px;
    line-height: 25px;
}

.form_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_button_block {
    display: flex;
    justify-content: center;

}

.button {
    margin: 10px;
}
