/* body {
    background: url('https: //img.freepik.com/free-photo/fresh-colourful-ingredients-mexican-cuisine_23-2148254294.jpg?w=2000') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

.image_div {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.ala_text {
    /* font-size: 20px; */
    font-weight: 400;
}

.carte_text {
    /* font-size: 20px; */
    font-weight: 600;
}

.bigger {
    font-size: 30px;
}

.intro_block {
    font-weight: 600;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--dark-yellow-color);
    background-color: white;
    z-index: 1;
    width: 500px;
    height: 250px;
}

.link_block {
    display: flex;
    flex-direction: row;

}

.link_icon {
    margin: 20px;
}

.link_icon:hover {
    cursor: pointer;
}
