.update_recipe_form {
    margin-top: 100px;

}

.individual_recipe_page {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.recipe_info_block {
    border-bottom: 1px solid #D2EBE8;
    margin-top: 15px;
}

.recipe_title {
    font-size: 60px;
    padding: 10px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 200;
    word-wrap: break-word;
    min-height: 50%;
    max-height: 350px;
}



.sticky_block {
    display: flex;
    position: sticky;
    top: 100px;
    overflow-y: hidden;
    height:min-content;
}

.information_block {
    /* border: 1px solid red; */
    /* top: 90px; */
    padding-left: 10px;
    margin-left: 18px;
    margin-right: 18px;
    width: 550px;
    background: linear-gradient(to bottom, #ebf8f8 0, #fefefe 100%);
}

.recipe_info_top_portion {
    display: flex;
    justify-content: space-between;
}

.top_button {
    margin-right: 5px;
    background-color: white;
    border: 1px solid #D2EBE8;
    padding: 5px;
    border-radius: 10px;
    color: var(--dark-yellow-color);
}

.full_time_block {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #D2EBE8;
}

.prep-time-input,
.cook-time-input,
.total-time-input,
.amount-input,
.measurement-input,
.ingredient-input {
    width: 120px;
}

.square {
    width: 15px;
}

.square:hover {
    cursor: pointer;
}

.ingredient_row {
    display: flex;
    justify-content: space-evenly;
}

.time_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time_label {
    color: #117777;
}

.individual_ingredient_info {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.serving_size {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add_to_collection_bigger {
    width: 40px;
    height: 40px;
}

.ingredients_label {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 40px;
    width: 100%;
    border-bottom: 1px solid #D2EBE8;
}

.ingredient_title{
   font-size: 20px;
   font-weight: 600;
}

.ingredient_amount{
   font-size: 24px;

}

.ingredient_measurement{
   font-size: 20px;
   color: var(--dark-yellow-color);
}

.directions_block {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-top: 15px;
}

.directions_text {
    line-height: 40px;
    font-size: 30px;
}

.directions_label {
    margin-bottom: 8px;
    color: var(--dark-yellow-color);
}

.opaque_container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.182);
    width: 100%;
    height: 100%;
}

.add_button_block {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}

.add_icon_block {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.add_icon_block:hover {
    cursor: pointer;
}




.delete_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--dark-yellow-color);
    background-color: white;
    z-index: 4;
    width: 500px;
    height: 200px;
}

.modal_button {
    margin: 10px;
    margin-right: 5px;
    background-color: white;
    border: 1px solid #D2EBE8;
    padding: 5px;
    border-radius: 10px;
    color: var(--dark-yellow-color);
}
