.nav_bar {
    border-bottom: 1px solid var(--yellow-color);
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}

/* .browse_drop_down {
    display: none;
    top: 60px;
    margin-left: -10px;
    width: 12rem;
    padding: 10px;
    position: absolute;
    list-style: none;
    text-align: start;
    border: 1px solid var(--yellow-color);
    background-color: white;
    z-index: 2;
} */

.li_containers {
    display: flex;
    height: 75px;
}



nav ul li ul {
    /* display: none; */
    top: 60px;
    margin-left: -10px;
    width: 12rem;
    padding: 10px;
    position: absolute;
    list-style: none;
    text-align: start;
    border: 1px solid var(--yellow-color);
    background-color: white;
    z-index: 2;
    transition: 2s;
}

nav ul li:hover ul {
    display: block;
}

.category_select_li {
    padding: 8px;
}

.category_select_li:hover {
    background-color: #f3f3f3;
    padding: 8px;
}

.nav_bar_ul {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}

.li_containers {
    display: flex;
    align-items: center;
    height: 50px;
}

.drop_down_li {
    display: block;
    width: 100%;
}

.li_containers:hover {
    cursor: pointer;
}


li {
    list-style: none;
    color: #B5460F;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    margin-right: 5px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #222222;
}
