.nav_bar {
    border-bottom: 1px solid var(--yellow-color);
    background-color: white;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}

.logo {
    font-size: 30px;
}

.ala_text {
    font-family: 'Smooch', cursive;
}

.carte_text {
    color: var(--dark-yellow-color);
}


/* .browse_drop_down {
    display: none;
    top: 60px;
    margin-left: -10px;
    width: 12rem;
    padding: 10px;
    position: absolute;
    list-style: none;
    text-align: start;
    border: 1px solid var(--yellow-color);
    background-color: white;
    z-index: 2;
} */

.li_containers {
    display: block;
    height: 75px;
    /* border: 1px solid red; */
}


.li-block {
    display: block;
}

.active {
    height: fit-content;
}

.browse_drop_down {
    z-index: 5;
}


nav ul li ul {
    /* display: none; */
    top: 60px;
    margin-left: -10px;
    width: 12rem;
    padding: 10px;
    position: absolute;
    list-style: none;
    text-align: start;
    border: 1px solid var(--yellow-color);
    background-color: white;
    z-index: 5;
}

nav ul li:hover ul {
    display: block;

}

.category_select_li {
    display: flex;
    align-items: center;
    transition: background-color 0.1s ease-in-out;
}

.category_select_li:hover {
    background-color: var(--yellow-color);
    color: white;
    /* padding: 8px; */
}

.category_select_link {
    display: flex;
    align-items: center;
    height: 25px;
}

.nav_bar_ul {
    display: flex;
    justify-content: space-evenly;
}

.li_containers {
    display: flex;
    align-items: center;
    height: 50px;
}

.drop_down_li {
    height: 30px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    width: 100%;

}

.li_containers:hover {
    cursor: pointer;
}


.icon {
    color: #B5460F;
    height: 20px;
    width: 20px;
    margin-left: 2px;
}

.browser_hover_block {
    height: 50px;

}

a {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    margin-right: 5px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #222222;
}

